* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

header {
  background-color: rgb(11, 162, 193);
  width: 100%;
  min-height: 500px;
  transform: skewY(-0.03turn) translateY(-20vh);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
}
footer {
  background-color: rgb(11, 162, 193);
  color: white;
  width: 100%;
  padding: 60px 80px 60px 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 1.5rem;
}

.contact-img {
  height: 450px;
  width: 650px;
}

.about-img {
  position: relative;
  width: 400px;
  height: 400px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.15);
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -150px;
}

.about-img h1 {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  white-space: nowrap;
  text-align: center;

  color: rgb(254, 252, 248);
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
}

main {
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 125px;
  width: 100%;
  flex: 1;
  justify-content: flex-start;
}
.top {
  display: flex;
  align-items: center;
}
.about {
  max-width: 30vw;
  padding: 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
}
.about-icon {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding: 15px;
  margin-top: 10px;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
}
.top i {
  font-size: 25px;
}

.contact-icon {
  display: flex;
  gap: 25px;
}

.contact img {
  width: 30px;
  height: 30px;
}

.contact-icon i {
  font-size: 35px;
}

.contact-icon img {
  width: 35px;
  height: 35px;
}

.phone,
.mail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone {
  margin-bottom: -25px;
}

.top p,
.bot p {
  color: rgb(74, 74, 74);
}

.work-info {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  min-height: 150px;
}
.work-info p {
  font-size: 0.8rem;
}

.work-img {
  padding: 45px 60px 75px 60px;
  width: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Playfair Display";
  font-size: 2rem;
  flex-wrap: wrap;
}

.work-item {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.work-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-icon i {
  font-size: 25px;
}

.work-icon img {
  width: 25px;
  height: 25px;
}

.work-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}
.work-item-1 .work-img {
  background-color: rgb(145 41 36);
}

.work-item-2 .work-img {
  background-color: rgb(123 117 196);
}

.work-item-3 .work-img {
  background-color: rgb(105 142 84);
}

.work-item-4 .work-img {
  background-color: rgb(183 104 176);
}

.work-item-5 .work-img {
  background-color: rgb(205 146 74);
}

.work-item-6 .work-img {
  background-color: rgb(98 160 206);
}
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 701px) and (max-width: 1200px) {
  p span {
    width: 250px;
    height: 95px;
    float: left;
  }

  .about h2 {
    font-size: 2rem;
    padding-right: 45px;
    padding-top: 45px;
  }

  .about {
    align-items: flex-end;
    gap: 50px;
  }

  .top {
    justify-content: center;
  }

  .about-img h1 {
    top: 7%;
    left: 83%;
  }

  .about-img {
    position: absolute;

    top: 4%;
    right: 50%;
    z-index: 1;
    width: 300px;
    height: 300px;
  }
  .about-img img {
    object-position: center -110px;
  }

  .about {
    position: relative;
    min-width: 500px;
    gap: 0px;
  }

  main {
    gap: 50px;
    padding-top: 150px;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-img {
    height: 450px;
    width: 350px;
    object-fit: cover;
  }

  header {
    min-height: 460px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    max-width: 400px;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 0.9rem;
  }

  .phone,
  .mail {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
  }

  .phone,
  .mail {
    margin-bottom: -10px;
  }

  .contact img {
    width: 20px;
    height: 20px;
  }

  .contact-icon {
    display: flex;
    gap: 15px;
  }

  .contact-icon i {
    font-size: 25px;
  }

  .contact-icon img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 700px) {
  .work-grid {
    grid-template-columns: 1fr;
  }

  main {
    padding-top: 15px;
  }

  header {
    transform: skewY(-0.06turn) translateY(-38vh);
    min-height: 560px;
  }

  .about {
    gap: 0;
    box-shadow: none;
    align-items: center;
    max-width: 100vw;
    background: transparent;
  }

  .about-img h1 {
    white-space: wrap;
    text-align: left;
    left: 5%;
  }

  .about-img {
    width: 300px;
    height: 500px;
  }

  .about-img img {
    object-position: center 0px;
  }

  .top {
    flex-direction: column;
  }

  .contact-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    max-width: 400px;
    padding: 30px;
  }

  .contact h2 {
    font-size: 2rem;
    text-align: center;
  }

  .contact p {
    font-size: 0.9rem;
  }

  .phone,
  .mail {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
  }

  .phone {
    margin-bottom: -10px;
  }

  .contact img {
    width: 20px;
    height: 20px;
  }

  .contact-icon {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .contact-icon i {
    font-size: 25px;
  }

  .contact-icon img {
    width: 25px;
    height: 25px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
